    <!-- Search Bar -->
    <div class="add-to-library__toc-player-searchbar p-8 sb-bg-color-gray-0">
        <div class="sb-search-box large no-btn">
          <div class="input-div relative">
            <i class="search icon"></i>
            <input class="sb-search-input" type="text" placeholder="Search for chapter" />
          </div>
        </div>
      </div>
  
      <div class="sbtoc-container px-8">
        <!-- Class separator -->
        <div id="explore-tab" >
          <div class="add-to-library__select-chapters"><label class="fsmall mb-0 mr-24">Class 6&nbsp;(120)</label>
            <div class="label-separator"></div>
          </div>
          <div class="sbaccordion sbaccordion--toc">
            <!-- panel begins -->
            <div class="sbaccordion__panel">
              <!-- panel header begins -->
              <div class="sbaccordion__panel-header">
                <h4 class="sbaccordion__panel-header__title">Chapter 01 Name</h4>
                <i class="icon-svg icon-svg--xs icon-arrow-up">
                  <svg class="icon icon-svg--primary">
                    <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-up"></use>
                  </svg>
                </i>
              </div>
              <!-- panel header ends -->
              <div class="sbaccordion__panel-content">
                <!-- chapter begins -->
                <div class="sbchapter">
                  <h4 class="sbchapter__title text-left sb__ellipsis sb__ellipsis--two mb-8">Vedic culture in
                    north India vedic culture in north India vedic culture in north India</h4>
                  <div class="sbchapter__item sbchapter__item--active">
                    <h4 class="sbchapter__item__title text-left sb__ellipsis sb__ellipsis--two mr-8">Social Science
                      Term 1 Social Science Term Social Science Term culture in north India vedic</h4>
                    <div class="sbchapter__img"><img src="./assets/images/book.png" /></div>
                    <div class="btn-addtoLibrary">
                      <button class="sb-btn sb-btn-normal sb-btn-secondary sb-left-icon-btn shine-effect"><i
                          class="plus square icon mr-4"></i>Add to library</button>
                    </div>
                  </div>
                </div>
                <!-- chapter ends -->
              </div>
            </div>
            <!-- panel ends -->
  
            <!-- Class separator -->
            <div class="add-to-library__select-chapters"><label class="fsmall mb-0 mr-24">Class 7&nbsp;(88)</label>
              <div class="label-separator"></div>
            </div>
  
            <!-- panel begins -->
            <div class="sbaccordion__panel">
              <!-- panel header begins -->
              <div class="sbaccordion__panel-header">
                <h4 class="sbaccordion__panel-header__title text-left sb__ellipsis sb__ellipsis--two break-word mr-16">
                  Chapter 02 Name</h4><i class="icon-svg icon-svg--xs icon-arrow-down mr-4"><svg
                    class="icon icon-svg--primary">
                    <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-down"></use>
                  </svg></i>
              </div>
              <!-- panel header ends -->
  
            </div>
            <!-- panel ends -->
            <!-- panel begins -->
            <div class="sbaccordion__panel">
              <!-- panel header begins -->
              <div class="sbaccordion__panel-header">
                <h4 class="sbaccordion__panel-header__title text-left sb__ellipsis sb__ellipsis--two break-word mr-16">
                  Chapter 03 Name</h4><i class="icon-svg icon-svg--xs icon-arrow-down mr-4"><svg
                    class="icon icon-svg--primary">
                    <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-down"></use>
                  </svg></i>
              </div>
              <!-- panel header ends -->
  
            </div>
            <!-- panel ends -->
            <!-- panel begins -->
            <div class="sbaccordion__panel">
              <!-- panel header begins -->
              <div class="sbaccordion__panel-header">
                <h4 class="sbaccordion__panel-header__title text-left sb__ellipsis sb__ellipsis--two break-word mr-16">
                  Chapter 04 Name</h4><i class="icon-svg icon-svg--xs icon-arrow-down mr-4"><svg
                    class="icon icon-svg--primary">
                    <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-down"></use>
                  </svg></i>
              </div>
              <!-- panel header ends -->
  
            </div>
            <!-- panel ends -->
            <!-- panel begins -->
            <div class="sbaccordion__panel">
              <!-- panel header begins -->
              <div class="sbaccordion__panel-header">
                <h4 class="sbaccordion__panel-header__title text-left sb__ellipsis sb__ellipsis--two break-word mr-16">
                  Chapter 05 Name</h4><i class="icon-svg icon-svg--xs icon-arrow-down mr-4"><svg
                    class="icon icon-svg--primary">
                    <use xlink:href="./assets/images/libdemo/sprite.svg#arrow-down"></use>
                  </svg></i>
              </div>
              <!-- panel header ends -->
  
            </div>
            <!-- panel ends -->
          </div>
        </div>
   
      </div>